* {
  margin: 0;
}

.logo img {
  width: 80px;
  border-radius: 50%;
  margin: 10px 20px;
}

.container__nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.links {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 15px;
}

.links:hover {
  color: #da1d25;
}

.login {
  background-color: #da1d25;
  padding: 8px 30px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: black;
  color: #fff;
  padding: 8px;
  text-align: center;
}

footer h6 {
  font-size: 0.9em;
  margin-bottom: 10px;
}

footer a {
  margin: 0 6px;
  color: #fff;
  font-size: 1.3em;
}

footer p {
  margin-top: 4px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter button {
  background-color: #da1d25;
  padding: 8px 30px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

.newsletter input {
  background-color: rgb(44, 44, 44);
  padding: 8px 30px;
  border: none;
  text-transform: uppercase;
  color: rgb(139, 139, 139);
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

.separador {
  border-top: 1px solid rgb(139, 139, 139);
  margin: 10px 150px;
}
