.card-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  max-width: 300px;

  .card-firts {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

  h1,
  h2,
  p {
    margin: 5px 0;
  }

  button {
    background-color: #2d2b81;
    color: #ffffff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
}
