.cards__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3vw;
  gap: 3vw;
  justify-content: space-around;
  .cards {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    background-color: #0a0a0a;
    .cards-firts {
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 1vw;
      padding: 0;
    }
    h2 {
      font-family: "Teko", sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2vw;
      color: $colorMain;
    }
    .entrenamiento {
      color: #959595;
      line-height: 0vw;
      font-size: 1.3vw;
    }
    .price {
      font-size: 2.6vw;
    }
    button {
      background-color: $colorMain;
      color: #ffffff;
      padding: 1.2vw 2vw;
      text-transform: uppercase;
      color: white;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      border: none;
      cursor: pointer;
      &:hover {
        transform: translateY(-8px);
        transition: transform 0.3s ease;
      }
      &:not(:hover) {
        transform: translateY(0);
        transition: transform 0.3s ease;
      }
    }
  }
}
