.footer {
  background-color: black;
  color: $colorTextTwo;
  padding: 1.8vw 6vw;
  font-family: "Poppins", sans-serif;
  .container__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .data__footer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h4 {
        font-family: "Teko", sans-serif;
        font-size: 2vw;
        font-weight: 500;
        margin-top: 1vw;
        color: #da1d25;
        text-transform: uppercase;
      }
      p {
        font-size: 1.2vw;
        line-height: 1vw;
      }
    }
    .nav__footer {
      display: flex;
      align-items: center;
      .footer__links {
        display: flex;
        flex-direction: column;
        gap: 0.5vw;
        .links__footer {
          text-decoration: none;
          font-size: 1.2vw;
          color: rgba(255, 255, 255, 0.5);
          &:hover {
            color: #da1d25;
          }
        }
      }
    }
    .redes__footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h4 {
        font-family: "Teko", sans-serif;
        font-size: 2vw;
        font-weight: 500;
        color: #da1d25;
        text-transform: uppercase;
      }
      .icons__redes {
        text-align: center;
        margin-top: 0.3vw;
        color: #da1d25;
        a {
          margin: 0 0.8vw;
          color: $colorTextTwo;
          font-size: 1.8vw;
          &:hover {
            color: #da1d25;
          }
        }
      }
    }
    .newsletter {
      display: flex;
      flex-direction: column;
      align-items: start;
      h5 {
        font-family: "Teko", sans-serif;
        font-size: 2vw;
        font-weight: 500;
        text-transform: uppercase;
      }
      p {
        font-size: 1.2vw;
      }
      input {
        background-color: rgb(44, 44, 44);
        padding: 0.8vw 3.5vw;
        margin-top: 1.3vw;
        color: rgb(139, 139, 139);
        font-weight: bold;
        border: none;
      }
      button {
        background-color: #da1d25;
        padding: 0.7vw 2.5vw;
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        margin-top: 0.5vw;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
  .separador {
    border-top: 0.1vw solid rgb(139, 139, 139);
    margin-top: 2vw;
  }
  .copy__name {
    text-align: center;
    font-size: 1.1vw;
    margin-top: 1.5vw;
  }
}
