.nav-wrapper {
  background-color: black;
  font-family: "Poppins", sans-serif;
  max-width: 1800px;
  padding: 0.5rem 2rem;
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      img {
        width: 100px;
      }
    }
    .nav-links {
      display: flex;
      justify-content: center;
      @media (max-width: 920px) {
        display: none;
      }
      .links {
        color: $colorTextOne;
        text-transform: uppercase;
        font-weight: 600;
        font-size: $sizeLinks;
        margin: 15px;
        position: relative;
        &:hover {
          color: $colorMain;
          &:hover::after {
            content: "•";
            position: absolute;
            bottom: -1em;
            left: 50%;
            transform: translateX(-50%);
            color: $colorMain;
          }
        }
      }
    }
  }
  .login {
    background-color: $colorMain;
    padding: 7px 25px;
    color: $colorTextOne;
    font-family: "Poppins", sans-serif;
    @media (max-width: 700px) {
      display: none;
    }
  }
}
.menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  color: $colorTextTwo;
  background-color: black;
  border: 1px $colorTextTwo solid;
  transition: all 0.4s ease;
  display: none;
  @media (max-width: 920px) {
    display: block;
    margin: 1rem;
  }
  span {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
  }
}
.boton-register {
  @media (max-width: 920px) {
    display: none;
  }
}
