.title__section {
  text-align: center;
  background-color: #111111;
  h1 {
    color: #da1d25;
    font-size: 4.5vw;
    font-family: "Teko", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.4vw;
    color: #f3eeee;
    padding: 20px;
  }
  .subtitle__section {
    display: inline-block;
  }
}
