.home__container {
  background-image: url(../../assets/fondo-box.jpg);
  background-size: cover;
  background-position-y: 50%;
  padding: 8.1em 5em;
}

.home__container h1 {
  display: flex;
  flex-direction: column;
}

.s1 {
  font-size: 2em;
  color: #da1d25;
  animation: fadeInLeft 0.7s forwards;
}

.s2 {
  font-size: 2.3em;
  color: white;
  transform: translateX(-500%);
  animation: fadeInLeft 0.7s forwards;
  animation-delay: 0.5s;
}

.s3 {
  text-decoration: underline;
  text-decoration-color: #da1d25;
  text-decoration-thickness: 5px;
  text-underline-offset: 20px;
}

.home__container p {
  color: white;
  font-size: 1.3em;
  line-height: 0.3em;
  margin-top: 30px;
  transform: translateX(-100%);
  animation: fadeInLeft 0.7s forwards;
  animation-delay: 0.9s;
}

.btn-home {
  background-color: #da1d25;
  padding: 12px 35px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  margin-top: 30px;
}

.btn-home:hover {
  background-color: white;
  color: #da1d25;
}

/* Efecto */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.subhome__container {
  background-color: rgb(12, 12, 12);
  padding: 30px;
}

.subhome__container h2 {
  text-align: center;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.img__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.img__container img {
  width: 100%;
}

.img-subhome {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-subhome p {
  position: relative;
  width: 170px;
  height: 50px;
  padding: 20px;
  border: 2px solid #636060;
  background: #000;
  color: #7e7b7b;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linea {
  border-top: 3px solid #da1d25;
  margin: 15px 580px;
}
