// Colors
$colorMain: #da1d25;
$colorTextOne: #f3eeee;
$colorTextTwo: #7e7b7b;
$colorSubHome: #111111;
$colorBorders: #636060;

// Font Size
$sizeLinks: 16px;
// Animations

// Efecto texto venir desde la izquierda
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// Mixins
@mixin lineaSeparadora {
  border-top: 0.3vw solid $colorMain;
  margin: 0.1vw 37vw;
}
