@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  font-family: "Teko", sans-serif;
}

button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.container__nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__nav .logo img {
  width: 80px;
  border-radius: 50%;
  margin: 10px 20px;
}
.container__nav .nav__links {
  display: flex;
  justify-content: center;
}
.container__nav .nav__links li .links {
  color: #f3eeee;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 15px;
  position: relative;
}
.container__nav .nav__links li .links:hover {
  color: #da1d25;
}
.container__nav .nav__links li .links:hover:hover::after {
  content: "•";
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  color: #da1d25;
}
.container__nav .login {
  background-color: #da1d25;
  padding: 8px 30px;
  color: #f3eeee;
  margin-right: 20px;
}

.home__container {
  background-image: url(../../../src/assets/fondo-box.jpg);
  background-size: cover;
  background-position-y: 50%;
  padding: 8.1em 5em;
}
.home__container h1 {
  display: flex;
  flex-direction: column;
}
.home__container h1 .s1 {
  font-size: 2em;
  color: #da1d25;
  animation: fadeInLeft 0.7s forwards;
}
.home__container h1 .s2 {
  font-size: 2.3em;
  color: #f3eeee;
  transform: translateX(-50%);
  animation: fadeInLeft 0.7s forwards;
  animation-delay: 0.5s;
}
.home__container h1 .s2 .s3 {
  text-decoration: underline;
  text-decoration-color: #da1d25;
  text-decoration-thickness: 5px;
  text-underline-offset: 20px;
}
.home__container p {
  color: #f3eeee;
  font-size: 1.3em;
  line-height: 0.3em;
  margin-top: 30px;
  transform: translateX(-100%);
  animation: fadeInLeft 0.7s forwards;
  animation-delay: 0.9s;
}
.home__container .btn-home {
  background-color: #da1d25;
  padding: 12px 35px;
  color: white;
  margin-right: 20px;
  margin-top: 30px;
}
.home__container .btn-home:hover {
  background-color: #f3eeee;
  color: #da1d25;
}

.subhome__container {
  background-color: #111111;
  padding: 30px;
}
.subhome__container h2 {
  text-align: center;
  color: #f3eeee;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.subhome__container .linea {
  border-top: 3px solid #da1d25;
  margin: 15px 580px;
}
.subhome__container .img__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.subhome__container .img__container img {
  width: 100%;
}
.subhome__container .img__container .img-subhome {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subhome__container .img__container .img-subhome p {
  position: relative;
  width: 170px;
  height: 50px;
  padding: 20px;
  border: 2px solid #636060;
  background: #000000;
  color: #7e7b7b;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: -40px;
}/*# sourceMappingURL=main.css.map */