@import "./reset";
@import "./variables";
@import "./components/navbar";
@import "./components/home";
@import "./components/title.component";
@import "./components/footer";
@import "./components/button.sessions";
@import "./components/cards";
@import "./components/mobilenav";
@import "./components/about";
@import "./components/breadcrumb";
@import "./components/price";
