@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.nav-wrapper {
  background-color: black;
  font-family: "Poppins", sans-serif;
  max-width: 1800px;
  padding: 0.5rem 2rem;
}
.nav-wrapper .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper .nav-content .logo img {
  width: 100px;
}
.nav-wrapper .nav-content .nav-links {
  display: flex;
  justify-content: center;
}
@media (max-width: 920px) {
  .nav-wrapper .nav-content .nav-links {
    display: none;
  }
}
.nav-wrapper .nav-content .nav-links .links {
  color: #f3eeee;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin: 15px;
  position: relative;
}
.nav-wrapper .nav-content .nav-links .links:hover {
  color: #da1d25;
}
.nav-wrapper .nav-content .nav-links .links:hover:hover::after {
  content: "•";
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  color: #da1d25;
}
.nav-wrapper .login {
  background-color: #da1d25;
  padding: 7px 25px;
  color: #f3eeee;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 700px) {
  .nav-wrapper .login {
    display: none;
  }
}

.menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  color: #7e7b7b;
  background-color: black;
  border: 1px #7e7b7b solid;
  transition: all 0.4s ease;
  display: none;
}
@media (max-width: 920px) {
  .menu-btn {
    display: block;
    margin: 1rem;
  }
}
.menu-btn span {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}

@media (max-width: 920px) {
  .boton-register {
    display: none;
  }
}

.home__container {
  background-image: url(../../../src/assets/fondo-box.jpg);
  background-size: 110%;
  background-position-y: -11vw;
  padding: 12vw 5vw;
  position: relative;
}
@media (max-width: 600px) {
  .home__container {
    background-position-y: 0vw;
    padding: 10vw 5vw;
  }
}
.home__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 600px) {
  .home__container::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.home__container .title__container {
  font-family: "Teko", sans-serif;
}
.home__container .title__container h1 {
  display: flex;
  flex-direction: column;
  line-height: 6vw;
}
@media (max-width: 920px) {
  .home__container .title__container h1 {
    line-height: 7.7vw;
  }
}
@media (max-width: 920px) and (max-width: 600px) {
  .home__container .title__container h1 {
    line-height: 12vw;
  }
}
.home__container .title__container h1 .s1 {
  font-size: 5.5vw;
  text-transform: uppercase;
  color: #da1d25;
  animation: fadeInLeft 0.7s forwards;
}
@media (max-width: 920px) {
  .home__container .title__container h1 .s1 {
    font-size: 7vw;
  }
}
@media (max-width: 920px) and (max-width: 600px) {
  .home__container .title__container h1 .s1 {
    font-size: 11.5vw;
  }
}
.home__container .title__container h1 .s2 {
  font-size: 6.8vw;
  text-transform: uppercase;
  color: #f3eeee;
  transform: translateX(-50%);
  animation: fadeInLeft 0.8s forwards;
  animation-delay: 0.5s;
}
@media (max-width: 920px) {
  .home__container .title__container h1 .s2 {
    font-size: 7.7vw;
  }
}
@media (max-width: 920px) and (max-width: 600px) {
  .home__container .title__container h1 .s2 {
    font-size: 12vw;
  }
}
.home__container .title__container p {
  font-family: "Poppins", sans-serif;
  color: #f3eeee;
  font-size: 1.3vw;
  line-height: 1.2vw;
  margin-top: 1vw;
  transform: translateX(-100%);
  animation: fadeInLeft 0.7s forwards;
  animation-delay: 0.9s;
}
@media (max-width: 920px) {
  .home__container .title__container p {
    font-size: 1.7vw;
    line-height: 2vw;
    margin-top: 1.3vw;
  }
}
@media (max-width: 920px) and (max-width: 600px) {
  .home__container .title__container p {
    font-size: 3.1vw;
    line-height: 4vw;
  }
}
.home__container .title__container .btn-home {
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  background-color: #da1d25;
  color: white;
  padding: 1vw 2.5vw;
  margin-top: 2.5vw;
}
@media (max-width: 920px) {
  .home__container .title__container .btn-home {
    padding: 1.5vw 3.5vw;
    font-family: "Poppins", sans-serif;
    font-size: 1.6vw;
    margin-top: 3.2vw;
  }
}
@media (max-width: 920px) and (max-width: 600px) {
  .home__container .title__container .btn-home {
    font-size: 3.2vw;
    padding: 2vw 5vw;
    margin-top: 5vw;
  }
}
.home__container .title__container .btn-home:hover {
  background-color: #f3eeee;
  color: #da1d25;
  transform: translateY(-8px);
  transition: transform 0.3s ease;
}
.home__container .title__container .btn-home:not(:hover) {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.subhome__container {
  background-color: black;
  padding: 2vw 8vw;
}
.subhome__container .second__container {
  text-align: center;
}
.subhome__container .second__container h2 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  color: #f3eeee;
  font-size: 2.8vw;
  font-weight: 600;
}
@media (max-width: 920px) {
  .subhome__container .second__container h2 {
    font-size: 4vw;
  }
}
@media (max-width: 920px) and (max-width: 600px) {
  .subhome__container .second__container h2 {
    font-size: 5.5vw;
    margin-top: 2vw;
  }
}
.subhome__container .second__container .linea {
  border-top: 0.3vw solid #da1d25;
  margin: 0.1vw 37vw;
}
.subhome__container .second__container .img__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5vw;
}
@media (max-width: 920px) {
  .subhome__container .second__container .img__container {
    gap: 2.5vw;
  }
}
@media (max-width: 920px) and (max-width: 600px) {
  .subhome__container .second__container .img__container {
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
  }
}
@media (max-width: 920px) {
  .subhome__container .second__container .img__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .subhome__container .second__container .img__container :nth-child(3) {
    grid-column: 1/span 2;
    justify-self: center;
    width: 48%;
  }
}
@media (max-width: 920px) and (max-width: 600px) {
  .subhome__container .second__container .img__container :nth-child(3) {
    width: 100%;
  }
}
.subhome__container .second__container .img__container img {
  width: 100%;
}
.subhome__container .second__container .img__container .img-subhome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
}
@media (max-width: 920px) {
  .subhome__container .second__container .img__container .img-subhome {
    margin-top: 3vw;
  }
}
.subhome__container .second__container .img__container .img-subhome p {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 13.5vw;
  height: 2.5vw;
  padding: 3vw;
  border: 0.1vw solid #636060;
  background: #000000;
  color: #7e7b7b;
  font-size: 1.1vw;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: -40px;
  display: flex;
  align-items: center;
}
@media (max-width: 920px) {
  .subhome__container .second__container .img__container .img-subhome p {
    font-size: 1.6vw;
    height: 5vw;
    width: 22vw;
    padding: 3.5vw;
  }
}

.benefits__container {
  background-color: #080808;
  padding: 2vw 1vw;
  text-align: center;
}
.benefits__container .third__title h3 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  color: #f3eeee;
  font-size: 2.8vw;
  font-weight: 600;
}
@media (max-width: 920px) {
  .benefits__container .third__title h3 {
    font-size: 4vw;
  }
}
.benefits__container .third__title .linea {
  border-top: 0.3vw solid #da1d25;
  margin: 0.1vw 46vw;
}
.benefits__container .third__title .benefits-container {
  display: flex;
  justify-content: space-around;
  gap: 2vw;
  padding: 2vw 5vw;
}
@media (max-width: 920px) {
  .benefits__container .third__title .benefits-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    padding: 2vw 16vw;
    margin-top: 2vw;
  }
}
.benefits__container .third__title .benefits-container .benefit {
  border: 0.1vw solid gray;
  padding: 2.5vw 1vw;
}
@media (max-width: 920px) {
  .benefits__container .third__title .benefits-container .benefit {
    padding: 4vw 5vw;
  }
}
.benefits__container .third__title .benefits-container .benefit:hover {
  background-color: #000000;
}
.benefits__container .third__title .benefits-container .benefit:hover h4 {
  color: #da1d25;
}
.benefits__container .third__title .benefits-container .benefit h4 {
  font-family: "Teko", sans-serif;
  font-size: 1.8vw;
  font-weight: 500;
  color: #9e9d9d;
  margin-top: 1vw;
}
@media (max-width: 920px) {
  .benefits__container .third__title .benefits-container .benefit h4 {
    font-size: 2.5vw;
  }
}
.benefits__container .third__title .benefits-container .benefit p {
  color: #7e7b7b;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.1vw;
  margin-top: 1vw;
}
@media (max-width: 920px) {
  .benefits__container .third__title .benefits-container .benefit p {
    font-size: 1.6vw;
  }
}

.title__section {
  text-align: center;
}
.title__section h1 {
  color: #da1d25;
  font-size: 4.5vw;
  font-family: "Teko", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.title__section p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  color: #f3eeee;
}
.title__section .subtitle__section {
  display: inline-block;
}

.footer {
  background-color: black;
  color: #7e7b7b;
  padding: 1.8vw 6vw;
  font-family: "Poppins", sans-serif;
}
.footer .container__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container__footer .data__footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .container__footer .data__footer h4 {
  font-family: "Teko", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  margin-top: 1vw;
  color: #da1d25;
  text-transform: uppercase;
}
.footer .container__footer .data__footer p {
  font-size: 1.2vw;
  line-height: 1vw;
}
.footer .container__footer .nav__footer {
  display: flex;
  align-items: center;
}
.footer .container__footer .nav__footer .footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.footer .container__footer .nav__footer .footer__links .links__footer {
  text-decoration: none;
  font-size: 1.2vw;
  color: rgba(255, 255, 255, 0.5);
}
.footer .container__footer .nav__footer .footer__links .links__footer:hover {
  color: #da1d25;
}
.footer .container__footer .redes__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .container__footer .redes__footer h4 {
  font-family: "Teko", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  color: #da1d25;
  text-transform: uppercase;
}
.footer .container__footer .redes__footer .icons__redes {
  text-align: center;
  margin-top: 0.3vw;
  color: #da1d25;
}
.footer .container__footer .redes__footer .icons__redes a {
  margin: 0 0.8vw;
  color: #7e7b7b;
  font-size: 1.8vw;
}
.footer .container__footer .redes__footer .icons__redes a:hover {
  color: #da1d25;
}
.footer .container__footer .newsletter {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer .container__footer .newsletter h5 {
  font-family: "Teko", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  text-transform: uppercase;
}
.footer .container__footer .newsletter p {
  font-size: 1.2vw;
}
.footer .container__footer .newsletter input {
  background-color: rgb(44, 44, 44);
  padding: 0.8vw 3.5vw;
  margin-top: 1.3vw;
  color: rgb(139, 139, 139);
  font-weight: bold;
  border: none;
}
.footer .container__footer .newsletter button {
  background-color: #da1d25;
  padding: 0.7vw 2.5vw;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 0.5vw;
}
.footer .container__footer .newsletter button:hover {
  background-color: white;
  color: black;
}
.footer .separador {
  border-top: 0.1vw solid rgb(139, 139, 139);
  margin-top: 2vw;
}
.footer .copy__name {
  text-align: center;
  font-size: 1.1vw;
  margin-top: 1.5vw;
}

.user-greeting {
  color: white;
  padding: 0 20px;
}
.user-greeting .center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-greeting .center-content .welcome-message {
  font-size: 15px;
  margin-bottom: 6px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.login-container .login-button {
  font-size: 15px;
}

.cards__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 7vw;
  gap: 3vw;
  justify-content: space-around;
  text-align: center;
}
.cards__items .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}
.cards__items .cards .cards-firts {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
}
.cards__items .cards h2 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2vw;
  color: #da1d25;
}
.cards__items .cards .entrenamiento {
  color: #959595;
  line-height: 0vw;
  font-size: 1.3vw;
}
.cards__items .cards .price {
  font-size: 2.6vw;
}
.cards__items .cards button {
  background-color: #da1d25;
  color: #ffffff;
  padding: 1.2vw 2vw;
  text-transform: uppercase;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.cards__items .cards button:hover {
  transform: translateY(-8px);
  transition: transform 0.3s ease;
}
.cards__items .cards button:not(:hover) {
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.cards__items .second-card {
  background-color: #0a0a0a;
  margin-top: -1.5vw;
}

.mobile-menu {
  width: 100vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999 !important;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(-100vw);
}
@media (max-width: 899px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu .mobile-menu-container {
  width: 50vw;
  height: 200vh;
  background-color: #000000;
}
.mobile-menu .mobile-menu-container .logo img {
  width: 6.5rem;
  height: auto;
  padding: 0.6rem 1.5rem;
}
.mobile-menu .mobile-menu-container .nav__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}
.mobile-menu .mobile-menu-container .nav__links .links {
  color: white;
  font-size: 0.9rem;
  position: relative;
  font-weight: 600;
  cursor: default;
}
.mobile-menu .mobile-menu-container .nav__links .links:hover {
  color: #da1d25;
}
.mobile-menu .mobile-menu-container .boton-mobile {
  background-color: #da1d25;
  color: #f3eeee;
  width: 30vw;
  height: 40px;
  margin: 0 2rem;
}

.mobile-menu.active {
  opacity: 1;
  transform: translateX(0);
}

.about__container {
  background-color: black;
  padding: 5vw;
}
.about__container .firts__about {
  display: flex;
  padding: 2vw;
  gap: 5vw;
}
.about__container .firts__about img {
  width: 30%;
}
.about__container .firts__about .title-firts-about h2 {
  font-family: "Teko", sans-serif;
  color: white;
  font-size: 3.5vw;
  text-transform: uppercase;
}
.about__container .firts__about .title-firts-about p {
  font-family: "Poppins", sans-serif;
  color: gray;
}
.about__container .firts__about .skills-entrenamiento {
  color: white;
}

.breadcrumb ol {
  display: flex;
  justify-content: center;
  gap: 0.7vw;
  background-color: #da1d25;
  padding: 1vw;
}
.breadcrumb ol .link-home a {
  color: white;
}
.breadcrumb ol .link-home a:hover {
  color: black;
}

.price__container .price__titles {
  background-color: #111111;
  padding: 3vw;
}
.price__container .price__titles .breadcrumb__container {
  width: 15%;
  margin: 0 auto;
}
.price__container .price__titles .breadcrumb__container .price__description {
  padding: 2vw 15vw;
  background-color: rgb(8, 8, 8);
}
.price__container .price__titles .breadcrumb__container .price__description p {
  font-size: 1.2vw;
  color: #959595;
}
.price__container .price__titles .breadcrumb__container .price__description p span {
  color: #da1d25;
}/*# sourceMappingURL=main.css.map */