footer {
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  text-align: end;
  padding: 10px;
}

footer h5 {
  font-size: 1.3em;
  margin-top: 20px;
}

footer p {
  margin-top: 4px;
  font-size: 1em;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  margin-right: 30px;
}

.newsletter button {
  background-color: #da1d25;
  padding: 8px 30px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.newsletter input {
  background-color: rgb(44, 44, 44);
  padding: 8px 30px;
  margin-top: 5px;
  border: none;
  color: rgb(139, 139, 139);
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

footer a {
  margin: 0 6px;
  color: #fff;
  font-size: 1.3em;
}

.separador {
  border-top: 1px solid rgb(139, 139, 139);
  margin: 10px 150px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  gap: 5px;
}

.links-footer {
  text-decoration: none;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.5);
}

.container__footer {
  display: flex;
  justify-content: space-between;
}

.nav-footer {
  display: flex;
  align-items: center;
}

.data-footer {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  gap: 10px;
}

.data-footer h4 {
  margin-top: 10px;
  color: #da1d25;
  text-transform: uppercase;
}

.redes-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons-redes {
  text-align: center;
  margin-top: 10px;
}

.ig-icon,
.fb-icon,
.wh-icon {
  color: #da1d25;
}

.copy-name {
  text-align: center;
}
